.HeaderPost{
  margin-top: 100px;
}

.HeaderPost img{

    width: 100%;
    height: 250px;
}
.HeaderPost{
  margin-left: 20vw;
  margin-right: 20vw;
}

.HeaderPost img{
    
    height: 300px;
    width: 59vw;

}



.pageTitle{
  padding: 20px;
  font-weight: bold;
  text-align: left;
  color: black;
  font-size: 3em;
}


.HeaderPost h1{
  color: white;
  position: absolute;
  font-weight: 500;
  text-align: center;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 70px;
  font-family: Playfair;
}

@media (max-width: 1000px){
  .HeaderPost h1{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
  }
}

.seeMore{
  background: #4F202A;
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  border: transparent;
 
}


@media (max-width: 1000px){
  .pageTitle{
      font-size: 1.6em;
      padding: 10px;
    
    }

    .HeaderPost {
      margin-left: 10vw;
      margin-right: 0;
    }
    .HeaderPost img{
      height: 60vw;
      width: 90%;
    }
    
  }