.containerAbout{

  display: flex;
  flex-direction: row;
  height: 600px; /* temporario */
  background-image: url("./../../assets/world_bg.jpg");
  width: 100%; 


}




.contentAbout{
  margin-top: 30px;
  margin-right: 10vw;
  text-align: left;
}
.btn-About-contact{
  width: 230px;
  height: 55px;
  background-color: #4F202A;
  color: white;
  font-weight: bold;
  border: transparent;
  border-radius: 5px;
  transition: 0.2s ease-in-out;

}

.btn-About-contact:hover{
  background-color: #B43724;
}



@media (max-width:  1080px){
  .containerAbout{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .containerAbout img{
      width: 55vw;
      height: 35vw;
  }

  .contentAbout{
    text-align: center;
    margin-top: 0;

  }
}

@media (min-width:  2500px){
    .containerAbout{
      padding: 10px;
      margin-left: 20vw;
      width: 70vw;
    }

    .contentAbout{
      width: 25vw;
    }


}