.containerFooter{

  display: flex;
  flex-direction: row;
  
  width: 100vw;
  background: #4F202A;
  height: 300px;
  color: white;
  margin-top: 3vw;
}

.containerFooter h1{

  text-align: center;
  font-size: 1.2em;
}


.about{
    margin-left: 24vw;
    padding: ;
    text-align: center;
    width: 15vw;
    

}

.contactInfo{
  text-align: center;

  width: 20vw;
}




.areasAtuacao li{
  text-decoration: none;
 
}

.areasAtuacao ul{
  list-style-type: none;
}


@media (max-width: 1080px){
  .containerFooter{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .about{
    width: 50vw;
    margin-left: 26vw;
  }

  .contactInfo{
    width: 80vw;
    text-align: center;
    margin-left: 11vw;
  }

  .areasAtuacao{
    width: 80vw;
    text-align: justify;
    margin-left: 8vw;
  }

  .areasAtuacao ul{
    text-align: center;
    margin-right: 3vw;
  }
}