.containerAreas{
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20vh;
  text-align: center;
  align-items: center;
  flex-direction: column;

}



.inputGroup{
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
}

.input{
  width: 80%;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.btn-about{
  background: #4F202A;
  height: 40px;
  border: transparent;
}

.row{

  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.card{
  background-color: #EFF3F4;
  width: 350px;
  height: 450px;
  padding: 10px;

}

.card img{
    display: flex;
    height: 50%;
    width: 100%;
}

.card h1{
  color: black;
  padding: 10px;
  font-weight: 500;
}

.card p{
  padding: 0px;
  font-size: 16px;
}


.card a{
  margin-top: 10px;
}
@media (max-width: 1100px){
      .row{
        display: flex;
        flex-direction: column;
      }

      .containerAreas{

      }
}